<html ng-app="app" ng-controller="appCtrl">
<head>
<title>Storytime!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-animate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>

<script>document.write('<base href="' + window.location.href + '">')</script>

<link rel="stylesheet" href="css/main.css"></link>
<script src="js/app.js"></script>
<!--<script src="js/data/story.js"></script>-->
<!--<script src="js/data/title.js"></script>-->
<!--<script src="js/data/action.js"></script>-->
<!--<script src="js/data/location.js"></script>-->
<!--<script src="js/data/town.js"></script>-->
<!--<script src="js/data/character.js"></script>-->
<!--<script src="js/data/adjective.js"></script>-->
<!--<script src="js/data/color.js"></script>-->
<!--<script src="js/data/interjection.js"></script>-->
<!--<script src="js/data/weapon.js"></script>-->
<!--<script src="js/data/steed.js"></script>-->
<!--<script src="js/data/food.js"></script>-->
</head>
<body class="text-center">
    <div class="jumbotron" ng-style="{background:'hsl(' + story.context.scope['ui:hue'] + ', 20%, 90%)'}">
        <h1 class="display-3 text-center header" ng-bind="display('{ui:title}')"></h1>
        <p class="text-muted lead" ng-bind="display('{ui:subtitle}')"></p>
        <a class="small pt-3" ng-click="reset()" href="">Create new story</a>
    </div>
    <div class="container pb-5">
    	<p class="text-center py-5" ng-bind-html="display(story.event.text)"></p>
        <div ng-repeat="path in story.event.paths" ng-if="!path.condition || path.condition()">
            <div class="btn d-block py-3 mt-3 mx-5" ng-class="{'text-muted':path.traveled}" ng-style="{background:'hsl(' + story.context.scope['ui:hue'] + ', 20%, 90%)'}" ng-bind-html="display(path.text)" ng-click="travel(path)"></div>
        </div>
    </div>
</body>
</html>