<div class="text-center">
    <div class="jumbotron" ng-style="{background:'hsl(' + $ctrl.story.context.scope['ui:hue'] + ', 20%, 90%)'}">
        <h1 class="display-3 text-center header" ng-bind="$ctrl.display('{ui:title}')"></h1>
        <p class="text-muted lead subheader" ng-bind="$ctrl.display('{ui:subtitle}')"></p>
        <a class="small pt-3" ng-click="$ctrl.reset()" href="">Create new story</a>
    </div>
    <div class="container pb-5">
    	<p class="text-center py-5" ng-bind-html="$ctrl.display($ctrl.story.event.text)"></p>
        <div ng-repeat="path in $ctrl.story.event.paths" ng-if="!path.condition || path.condition()">
            <div class="btn d-block py-3 mt-3 mx-5" ng-class="{'text-muted':path.traveled}" ng-style="{background:'hsl(' + $ctrl.story.context.scope['ui:hue'] + ', 20%, 90%)'}" ng-bind-html="$ctrl.display(path.text)" ng-click="$ctrl.travel(path)"></div>
        </div>
    </div>
</div>
