<story>
	<import path="composer/act.xml" />
	<import path="composer/adj.xml" />
	<import path="composer/char.xml" />
	<import path="composer/color.xml" />
	<import path="composer/food.xml" />
	<import path="composer/interjection.xml" />
	<import path="composer/loc.xml" />
	<import path="composer/steed.xml" />
	<import path="composer/title.xml" />
	<import path="composer/town.xml" />
	<import path="composer/weapon.xml" />
	
	<import path="story/start.xml" />
</story>